body {
  max-width: 600px;
}

.station-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #dd0c11;
  width: calc(100% * (1 / 2) - 2px - 1px);
  transition: 300ms;
  margin: 2px auto;
}

/* HOVER */
.station-wrapper:hover {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  width: calc(100% * (1 / 2) - 2px - 1px);
  transition: 300ms; 
  margin: 2px auto;
}

.spkwrapper{
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.spk{
  height: calc(4vw);
  margin-right: 20px;
  vertical-align: center;
}

.spk path {
  fill: #fff;
  display: inline-block;
  transition: 300ms;
}

.station-name { 
  display: inline-block;
  text-align: center;  
  vertical-align: center;
}

.station-wrapper:hover a,
.station-wrapper:hover a div div .spk path {
  text-decoration: none;
  color: #dd0c11;
  fill: #dd0c11;
  font-size: calc(4vw * 0.8);
}

/* END HOVER */
.station-wrapper a {
  text-decoration: none;
  color: #fff;
  font-size: calc(4vw * 0.6);
  transition: 300ms;
}

.stcontents {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin: 5px 10px;
  vertical-align: center;
}

.stations-flex-box {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px auto;
  flex: wrap;
  align-items: center;
  justify-content: center;
}