body {
  max-width: 600px;
}

.station-wrapper {
  display: inline-block;
  background: #dd0c11;
  width: calc(100% * (1 / 2) - 2px - 1px);
  transition: 300ms;
  margin: 2px auto;
  padding: 0px;
}

/* HOVER */
.station-wrapper:hover {
  background: #eee;
  width: calc(100% * (1 / 2) - 2px - 1px);
  transition: 300ms; 
  margin: 2px auto;
  padding: 0px;
}

.spk path {
  fill: #fff;
  height: 40px;
  display: inline-block;
  transition: 300ms;
}

.station-wrapper:hover a,
.station-wrapper:hover a div div .spk path {
  text-decoration: none;
  color: #dd0c11;
  fill: #dd0c11;
  font-size: 22px;
}

/* END HOVER */

.station-wrapper a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: 300ms;
}

.stcontents {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: auto 10px;
  padding: 10px;
}

.station-name {
  display: inline-block;
}

.spk {
  height: 40px;
  display: inline-block;
}

.stations-flex-box {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px auto;
  flex: wrap;
  align-items: center;
  justify-content: center;
}